<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="drawer.close()" >Home</a>
      <a mat-list-item routerLink="/appointment" *ngIf="isLogin() && authSerive.isAdmin()"
       routerLinkActive="router-link-active" (click)="drawer.close()" >Appointments</a>
       <a mat-list-item routerLink="/login" *ngIf="!isLogin()"
        routerLinkActive="router-link-active" (click)="drawer.close()" >Login</a>
       <a mat-list-item routerLink="/login" *ngIf="isLogin()"
       routerLinkActive="router-link-active" (click)="drawer.close(); logout()" >Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">Tim's calendar</span>

      <span class="example-spacer"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a  mat-button routerLink="/" routerLinkActive="active" (click)="drawer.close()" >Home</a>


        <a mat-button routerLink="/appointment" *ngIf="isLogin() && authSerive.isAdmin()"
         routerLinkActive="router-link-active"  >Appointments</a>
        <a mat-button routerLink="/login" *ngIf="!isLogin()"
         routerLinkActive="router-link-active"  >Login</a>
         <a mat-button routerLink="/login" *ngIf="isLogin()"
         routerLinkActive="router-link-active" (click)="logout()" >Logout</a>

      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
