.full-width-table {
  width: 100%;
}
table {
  width: 100%;
}

.align-center {
  display:flex;
  justify-content:center;
  text-align: center !important;

}

h4.align-center {
  font-size:  large;
  font-weight: bold;
}
