<div class="mat-elevation-z8">
  <h4 md-headline class="align-center">{{isAdmin?"Tim's Schedule List" :"Your Appointment(s) With Tim"}}</h4>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="appointmentDate">
      <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
      <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="appointmentTime">
      <th mat-header-cell *matHeaderCellDef>Appointment Time</th>
      <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="brief">
      <th mat-header-cell *matHeaderCellDef> Brief </th>
      <td mat-cell *matCellDef="let element"> {{element.brief}} </td>
    </ng-container>
    <!-- Symbol Column -->


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a color="primary" mat-icon-button (click)="openDialog('Update',element)">View</a> |
        <a color="accent" mat-icon-button
        *ngIf="currentUser.id == element.uid"
        (click)="openDialog('Update',element)">Edit</a> |
        <a color="warn" mat-icon-button
        *ngIf="currentUser.id == element.uid"
         (click)="openDialog('Delete',element)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
