<div class="mat-elevation-z8">
  <h4 class="align-center">Your Appointment(s) With Tim</h4>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="appointmentDate">
      <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
      <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="appointmentTime">
      <th mat-header-cell *matHeaderCellDef>Appointment Time</th>
      <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="brief">
      <th mat-header-cell *matHeaderCellDef> Brief </th>
      <td mat-cell *matCellDef="let element"> {{element.brief}} </td>
    </ng-container>
    <!-- Symbol Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
